<!-- <h1>My Followers</h1> -->
<!-- <ul>
  <li *ngFor="let follower of followers">
    <img src="{{follower.avatar_url}}">
    <label>{{follower.login}}</label>
    <a href="#">{{follower.html_url}}</a>
  </li>
</ul> -->

<div *ngFor="let follower of followers" class="media">
  <img class="avatar mr-3" src="{{ follower.avatar_url }}" alt="Pic!">
  <div class="media-body">
    <h5 class="mt-0">
      <a [routerLink]="[ '/followers', follower.id, follower.login ]">{{ follower.login }}</a>
    </h5>
    <a href="follower.html_url">{{ follower.html_url }}</a>
  </div>
</div>